.mypage-header {
    height: 120px;
}

.user-name {
    font-size: 32px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1920px;
}

.resevation-info {
    margin-left: 150px;
    margin-right: 150px;
    width: 600px;
}

.reservation-infos {
    background-color: #3560F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 600px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.info-header-left {
    display: flex;
}

.clock {
    width: 50px;
}

.reservation-index {
    color: white;
    font-size: 20px;
    padding-top: 8px;
    padding-left: 50px;
}

.qrcode-button {
    width: 40px;
}

.delete-button {
    margin-right: 40px;
    width: 40px;
}

.update-button {
    width: 40px;
}

.info {
    margin-left: 40px;
    margin-bottom: 20px;
}

.info__table td{
    color: white;
    font-size: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.favorite-shops {
    padding-right: 150px;
    width: 720px;
}

.title {
    font-size: 32px;
    padding-bottom: 20px;
}

.shop-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.shop-card {
    background-color: white;
    border-radius: 10px;
}

.shop-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    object-fit: cover;
    width: 300px;
}

.shop-name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}

.shop-region-and-genre {
    font-size: 16px;
    padding-left: 20px;
}

.shop-footor {
    display: flex;
    justify-content: space-between;
}

.shop-detail-button {
    background-color: #3560F6;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

.review {
    margin-top: 30px;
}

.favorite-button {
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    width: 40px;
}

@media (max-width: 768px){

    .container {
        display: flex;
        flex-wrap: wrap;
        width: 768px;
    }

    .user-name {
        font-size: 28px;
        padding-left: 50px;
        text-align: left;
    }

    .resevation-info {
        margin-left: 50px;
        margin-right: 50px;
        width: 400px;
    }

    .reservation-infos {
        width: 400px;
    }

    .info-header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .clock {
        display: none;
    }

    .reservation-index {
        font-size: 16px;
        padding-top: 8px;
        padding-left: 20px;
    }

    .favorite-shops {
        padding-right: 0px;
        margin-left: 50px;
        width: 768px;
    }

    .info {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .info__table td{
        font-size: 14px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .shop-list {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}
