main {
    display: flex;
}

.shop-name {
    font-size: 24px;
    text-align: left;
    padding-left: 10%;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-left: 10%;
    text-align: center;
    width: 80vw;
}

.review-card {
    padding: 10px;
}

.label {
    width: 10vw;
}

.review {
    width: 80vw;
}

table td {
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

@media (max-width: 768px){
    .shop-name {
        padding-left: 50px;
        width: 150px;
    }

    .label {
        width: 150px;
    }

}
