main {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.shop-detail {
    width: 30vw;
}

.shop-detail-header {
    display: flex;
    margin-bottom: 20px;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.7);
}

.back-button:active {
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.1), inset -4px -4px 10px rgba(255, 255, 255, 0.7);
}

.shop-name {
    margin-top: 5px;
    margin-left: 15px;
}

.shop-img__div img {
    width: 30vw;
}

.shop-region-and-genre {
    font-size: 20px;
    margin-top: 30px;
}

.shop-description {
    font-size: 20px;
    margin-top: 30px;
}

.reservation {
    background-color: #3560F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 40vw;
}

.title {
    color: white;
    font-size: 32px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.error-message {
    padding-left: 40px;
    padding-bottom: 40px;
}

.reservation-form {
    padding-left: 40px;
}

.date {
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    width: 10vw;
}

.time {
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    width: 30vw;
}

.people {
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    width: 30vw;
}

.reservation-detail {
    background-color: #5580F7;
    border-radius: 5px;
    display: flex;
    margin-left: 40px;
    margin-right: 60px;
}

.reservation-detail__table {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reservation-detail__table td {
    color: white;
    padding-bottom: 10px;
    padding-right: 40px;
}

.submit-button {
    background-color: #003FF5;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    margin-top: auto;
    padding: 15px 20px;
}

@media (max-width: 768px){
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 50px;
    }

    .shop-detail {
        width: 80vw;
    }

    .shop-img__div img {
        width: 80vw;
    }

    .reservation {
        width: 80vw;
    }

    .date {
        width: 30vw;
    }

    .time {
        width: 60vw;
    }

    .people {
        width: 60vw;
    }

}




